.buttonList {
    height: auto;
  }

  .buttonList .buttonListItem img {
    height: 4rem;
  }

  .buttonList .buttonListItem {
    display: block;
    min-width: 10rem;
    padding: 1rem;
    font-size: 2rem;
    border: 0.3rem ridge #e7e7e7;
    background-color: #F5F5F5;
  }
  
  .buttonList:hover .buttonListItem {
    transform: scale(1);
    box-shadow: none;
  }
  .buttonList:hover .buttonListItem:hover {
    transform: scale(1.05);
    filter: blur(0px);
    opacity: 1;
    z-index: 10;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }