.buttonList {
    display: flex;
    margin: auto;
    height: auto;
    width: auto;
    text-align: center;
    flex-flow: row wrap;
  }

  .buttonList .buttonListItem {
    flex: 33.3333%;
    display: inline-block;
    min-width: 10rem;
    padding: 2rem;
    font-size: 2rem;
    background-color: #fff7e9;
    border: 0.3rem ridge #fff0d7;
    text-align: center;
    overflow: hidden;
  }
  
  .buttonList:hover .buttonListItem {
    filter: blur(1px);
    opacity: 0.8;
    transform: scale(1);
    box-shadow: none;
  }
  .buttonList:hover .buttonListItem:hover {
    transform: scale(1.2);
    filter: blur(0px);
    opacity: 1;
    z-index: 10;
    box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
  }