
.avatar-img {
    -webkit-animation: logoAnimation 10s ease 0s infinite normal;
    animation: logoAnimation 10s ease 0s infinite normal;
}

@-webkit-keyframes logoAnimation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    2% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    4% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    8% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes logoAnimation {
    0% {
        transform: rotate(0deg);
    }
    2% {
        transform: rotate(-10deg);
    }
    4% {
        transform: rotate(10deg);
    }
    8% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}