---
layout: page
title: BitSent
subtitle: Your toolkit for the MetaNet
use-site-title: true
---
<link rel="stylesheet" href="/css/button-list.css">

<div class="buttonList">
  <div class="buttonListItem" onclick="window.open('/link.html','_self');"> LINK </div>
  <div class="buttonListItem" onclick="window.open('/writer.html','_self');"> Writer </div>
  <div class="buttonListItem" onclick="window.open('/bitbtn.html','_self');"> 
    <img 
      src="/img/bitbtn-logo-text-transperant.png" 
      alt="BitBtn"
      style="height: 1.6em;">
  </div>
  <div class="buttonListItem" onclick="window.open('/btn_page.html','_self');"> BitBtn Page </div>
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
