<script src="https://www.moneybutton.com/moneybutton.js"></script>
<script src="https://one.relayx.io/embed.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bitbtn@latest/src/bitbtn.js"></script>

<style>
  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (max-width : 500px) {
    .buttons-wrapper {
      flex-direction: column;
    }
  }

  .button-container {
    background-color: ghostwhite;
    border: 1px solid lightgrey;
    padding: 10px;
    margin: 5px;
  }

  .button-container * {
    padding: 2px;
  }

  #uriWarningMessage {
    color: red;
    font-weight: bold;
    text-align: center;
    padding: 1em;
  }

  .center-text {
    text-align: center;
  }

  #uriType{
    text-decoration: underline;
    color:rgb(131, 0, 0);
  }
  
</style>

<h2 class="center-text">You clicked on a <span id="uriType">...</span> Link</h2>
<div class="center-text" id="uriDetails"></div>

<div class="center-text" id="uriWarningMessage"></div>

<div class="center-text" class="buttons-wrapper">
  <div class="button-container">
    <div id="relayoneContainer">
      <br />
      Loading Relay One...
    </div>
  </div>
  <div class="button-container">
    <div id="bitbtnContainer">
      <br />
      Loading BitBtn...
    </div>
  </div>
  <div class="button-container">
    <div id="moneybuttonContainer">
      <br />
      Loading MoneyButton...
    </div>
  </div>
  <!-- ADDING MORE BUTTONS IS EASY... -->
  <!-- <div class="button-container"><div id="whatever">Loading button...</div></div> -->
</div>

<script>
  const uriParser = (function () {
    // the schemes are ordered - more strict to less strict
    var schemes = {
      bip275: {
        pathRegex: /^$/,
        required: ["req-bip275", "paymentUrl", "network", "outputs"]
      },
      bip272: {
        pathRegex: /^$/,
        required: ["req-bip272", "r"]
      },
      bip21sv: {
        pathRegex: /^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$/,
        required: ["sv"]
      },
      bip21: {
        pathRegex: /^[13][a-km-zA-HJ-NP-Z1-9]{25,34}$/,
        required: []
      }
    };

    function findUriType(bPath, bParams) {
      var requiredParams = [];
      bParams.forEach((v, k) => {
        if (k.startsWith("req-")) requiredParams.push(k);
      });

      for (var sch in schemes) {
        var pathMatch = schemes[sch].pathRegex.test(bPath);
        var paramsMatch = schemes[sch].required.every(
          p => bParams.get(p) !== null
        );
        var noExtraRequiredParams = requiredParams.every(
          p => schemes[sch].required.indexOf(p) >= 0
        );
        if (pathMatch && paramsMatch && noExtraRequiredParams) {
          return sch;
        }
      }
      return (
        "Unknown Bitcoin URI" +
        (requiredParams.length > 0 ?
          " : [" + requiredParams.join(", ") + "]" :
          "")
      );
    }

    function showWarnings(uriType) {
      if (uriType === "bip21")
        $("#uriWarningMessage")
        .append($("<div>").append(
          "Warning: This might be a BTC link. It doesn't have the expected 'sv' parameter."));
      if (!(uriType in schemes))
        $("#uriWarningMessage")
        .append($("<div>").append("Warning: Unknown Bitcoin URI type."));
    }

    function showBip21(bPath, bParams) {
      console.log("Creating BIP-21 based Buttons")
      var outs = [{
        script: bitbtn.scripter.p2pkh(bPath),
        amount: parseFloat(bParams.get("amount") || 0.001),
        currency: "BSV"
      }];
      makeMoneyButton(JSON.parse(JSON.stringify(outs)));
      makeRelayOneButton(JSON.parse(JSON.stringify(outs)));
      makeBitBtn(JSON.parse(JSON.stringify(outs)));
    }

    async function showBip272(bPath, bParams) {
      console.log("Creating BIP-272 based Buttons")
      var url = bParams.get("r");
      console.log("GET: " + url);
      try {
        var result = await fetch(url)
        let response = await fetch(url);
        if (response.ok) {
          var request = await result.json();
        } else {
          throw "HTTP-Error: " + response.status;
        }
        
        var outs = request.outputs.map(o => {
          return {
            script: o.script,
            amount: o.amount / 100000000,
            currency: "BSV"
          }
        })
        makeMoneyButton(JSON.parse(JSON.stringify(outs)));
        makeRelayOneButton(JSON.parse(JSON.stringify(outs)));
        makeBitBtn(JSON.parse(JSON.stringify(outs)));
      } catch (e) {
        $("#uriWarningMessage")
          .append($("<div>")
            .append("Failed to get BIP-272 payment request from '" + url + "' : " + e));
      }
    }

    function showBip275(bPath, bParams) {
      console.log("Creating BIP-275 based Buttons")
      var outs = JSON.parse(bParams.get("outputs"))
        .map(o => {
          return {
            script: o.script,
            amount: o.amount / 100000000,
            currency: "BSV"
          }
        })
      console.log("Outputs: ", outs);
      makeMoneyButton(JSON.parse(JSON.stringify(outs)));
      makeRelayOneButton(JSON.parse(JSON.stringify(outs)));
      makeBitBtn(JSON.parse(JSON.stringify(outs)));
    }

    function showUnknown() {
      document.getElementById("moneybuttonContainer").innerHTML =
        "Failed to Parse URI";
      document.getElementById("relayoneContainer").innerHTML =
        "Failed to Parse URI";
      document.getElementById("bitbtnContainer").innerHTML =
        "Failed to Parse URI";
    }

    function makeRelayOneButton(outputs) {
      var config = {
        disabled: false,
        onPayment: arg => console.log("payment success", arg),
        onError: arg => console.error("payment error", arg)
      };
      if (outputs.length === 1) {
        config.editable = false;
        config.to = outputs[0].script;
        config.amount = outputs[0].amount;
        config.currency = outputs[0].currency;
      } else if (outputs.length > 1) {
        config.editable = false;
        config.outputs = outputs.map(o => {
          return {
            to: o.script,
            amount: o.amount,
            currency: o.currency
          };
        });
      }
      var container = document.getElementById("relayoneContainer");
      container.innerHTML = "";
      relayone.render(container, config);
    }

    function makeMoneyButton(outputs) {
      var config = {
        disabled: false,
        onPayment: arg => console.log("payment success", arg),
        onError: arg => console.error("payment error", arg)
      };
      if (outputs.length === 1) {
        config.editable = false;
        config.to = outputs[0].script;
        config.amount = outputs[0].amount;
        config.currency = outputs[0].currency;
      } else if (outputs.length > 1) {
        config.editable = false;
        config.outputs = outputs.map(o => {
          return {
            to: o.script,
            amount: o.amount,
            currency: o.currency
          };
        });
      }
      var container = document.getElementById("moneybuttonContainer");
      container.innerHTML = "";
      moneyButton.render(container, config);
    }

    function makeBitBtn(outputs) {
      var container = $("#bitbtnContainer");

      if (outputs.length == 1) {
        var innerContainer = $("<div>").attr("id", "bitbtn-inner-container");
        var amountLabel = $("<label>")
          .attr("for", "bitbtn-amount")
          .append("Amount:");
        var amountInput = $("<input>")
          .attr("id", "bitbtn-amount")
          .attr("type", "number")
          .attr("min", 0)
          .attr("step", 0.00000001);
        container
          .empty()
          .append(innerContainer)
          .append(amountLabel)
          .append(amountInput);

        function createBitBtnBasedOnInput(e) {
          var amount = parseFloat(amountInput.val());
          if (amount < 0 || isNaN(amount)) return;
          innerContainer.empty();
          bitbtn.create(
            document.getElementById("bitbtn-inner-container"), {
              script: outputs[0].script,
              amount: amount,
              currency: outputs[0].currency,
              onError: function (error) {
                console.log(error);
              }
            });
        }

        amountInput.on("keyup", createBitBtnBasedOnInput);
        amountInput.val(outputs[0].amount);
        createBitBtnBasedOnInput();
      } else {
        container.empty();
        bitbtn.create(
          document.getElementById("bitbtnContainer"), {
            outputs: outputs,
            onError: function (error) {
              console.log(error);
            }
          }
        );
      }
    }

    function init() {
      var urlParams = new URLSearchParams(window.location.search);
      var bitcoinUri = urlParams.get("req");
      if (!bitcoinUri || !bitcoinUri.startsWith("bitcoin:")) {
        bitcoinUri = "bitcoin:invalid";
      }
      console.log(bitcoinUri);

      var sIndex = bitcoinUri.indexOf("?");
      if (sIndex < 0) sIndex = bitcoinUri.length;
      var bPath = bitcoinUri.substring("bitcoin:".length, sIndex);
      var bParams = new URLSearchParams(bitcoinUri.substring(sIndex));

      var uriType = findUriType(bPath, bParams);

      document.getElementById("uriType").innerHTML = uriType;

      showWarnings(uriType);

      if (uriType === "bip21")
        showBip21(bPath, bParams);
      else if (uriType === "bip21sv")
        showBip21(bPath, bParams);
      else if (uriType === "bip272")
        showBip272(bPath, bParams);
      else if (uriType === "bip275")
        showBip275(bPath, bParams);
      else showUnknown();
    }

    return {
      init: init
    };
  })();
  addEventListener("load", uriParser.init);
</script>