<div>
    <style>
        body {
            font-family: monospace;
            font-size: 15px;
            padding: 0 10px;
            position: relative;
        }

        #qrcode {
            float: right;
        }

        #btnArea {
            float: right;
            text-align: center;
            padding: 5px;
        }

        #btnValue {
            padding: 0.6em;
            font-size: 15px;
            font-weight: bolder;
        }

        hr {
            clear: both;
        }

        a {
            cursor: pointer;
            text-decoration: none;
        }
    </style>

    <script src="/js/bsv.js"></script>
    <script src="/js/qrcode.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bitbtn@latest/src/bitbtn.js"></script>

    <script>
        const API_KEY = "DAereavs1cmbu2E3LZkiT5j83DADdpqWkCiv2AKjKPXPXyyFFrWJX9HSELuY4pd8r";
        const BITINDEX_SEND_URI = "https://bchsvexplorer.com/api/tx/send";
        const BITINDEX_ADDR_URI = "https://api.bitindex.network/api/v3/main/addr/";

        const BCAT_MAP_ADDR = "15DHFxWZJT58f9nhyGnsRBqrgwK4W6h4Up";
        const BCAT_ADDR = "1ChDHzdd1H4wSjgGMHyndZm6qxEDGjqpJL";
        const B_ADDR = "19HxigV4QyBv3tHpQVcUEQyq1pzZVdoAut";

        let privateKey;
        let address;
        let utxos = [];
        let readyUtxos = [];
        let uncomfirmedUtxos = [];
        let spendUtxos = [];
        let chunkSize = 90e3;
        var splitValue = 90.5e3;
        let splitCount;
        let chunks;
        let txns = {};

        let requiredTxns;
        function initialize() {
            let wif = localStorage.getItem('privateKey');

            if (wif) {
                privateKey = bsv.PrivateKey.fromWIF(wif);
            }
            if (!privateKey) {
                privateKey = bsv.PrivateKey.fromRandom();
                localStorage.setItem('privateKey', privateKey.toWIF());
            }
            address = privateKey.toAddress();
            document.getElementById('address').innerText = address;
            document.getElementById('address').href = "https://whatsonchain.com/address/" + address;

            generateBitBtn();

            const qr = qrcode(0, 'L');
            qr.addData(`bitcoin:${address}?sv`);
            qr.make();
            document.getElementById('qrcode').innerHTML = qr.createImgTag();

            return fetch(BITINDEX_ADDR_URI + address + '/utxo', {
                headers: {
                    api_key: API_KEY,
                    'Content-Type': 'application/json',
                },
            })
                .then((res) => res.json())
                .then((data) => {
                    utxos = data;
                    readyUtxos = utxos.filter((utxo) => {
                        return utxo.satoshis == splitValue && utxo.height > 0
                    });
                    uncomfirmedUtxos = utxos.filter((utxo) => {
                        return utxo.satoshis == splitValue && !(utxo.height > 0)
                    });
                    spendUtxos = utxos.filter((utxo) => utxo.satoshis > splitValue);
                    smallUtxos = utxos.filter((utxo) => utxo.satoshis < splitValue);

                    balance = spendUtxos.reduce((balance, utxo) => {
                        return balance + utxo.satoshis;
                    }, 0);

                    splitCount = Math.min(Math.floor(balance / splitValue), 500);
                    document.getElementById('confirmed').innerText = readyUtxos.length;
                    document.getElementById('unconfirmed').innerText = uncomfirmedUtxos.length;
                    document.getElementById('unsplit').innerText = spendUtxos.length;
                    document.getElementById('smallutxo').innerText = smallUtxos.length;
                    document.getElementById('balance').innerText =
                        (
                            utxos.reduce((balance, utxo) => {
                                return balance + utxo.satoshis;
                            }, 0) / 100000000
                        ).toFixed(4) + '🐉';
                    document.getElementById('splitCount').innerText = splitCount;
                    document.getElementById('smallCount').innerText = smallUtxos.length;

                    try { analyzeFile(); }
                    catch (err) { console.error(err); }
                });
        }

        function generateBitBtn() {
            window.btnInstance.innerHTML = "";
            btnAmount = parseFloat(window.btnValue.value);
            if (btnAmount == NaN) window.btnInstance.innerHTML = "error..."
            else
                bitbtn.create(window.btnInstance, {
                    label: "Send",
                    address: address.toString(),
                    amount: btnAmount,
                    currency: "BSV",
                    onError: function (error) { console.log(error); },
                });
        }

        function broadcastTx(rawtx) {
            return fetch(BITINDEX_SEND_URI, {
                method: 'POST',
                body: JSON.stringify({ rawtx: rawtx.toString() }),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
        }

        function joinSmallTx() {
            let transaction = new bsv.Transaction().from(smallUtxos)
            transaction.change(address);
            transaction.sign(privateKey);

            broadcastTx(transaction)
                .then((res) => res.json())
                .then((res) => console.log(res))
                .then(() => initialize())
                .catch(err => console.error(err));
        }

        function split() {
            let transaction = new bsv.Transaction().from(spendUtxos);
            for (let i = 0; i < splitCount; i++) {
                transaction.to(address, splitValue);
            }

            transaction.change(address);
            transaction.sign(privateKey);

            broadcastTx(transaction)
                .then((res) => res.json())
                .then((res) => console.log(res))
                .then(() => initialize())
                .catch(err => console.error(err));
        }

        function analyzeFile() {
            const file = document.getElementById('file').files[0];
            chunks = Math.ceil(file.size / chunkSize);
            requiredTxns = chunks + (chunks > 1 ? 1 : 0);
            var cost = (requiredTxns * splitValue) / 100000000;
            document.getElementById('requiredTxns').innerText = requiredTxns;
            document.getElementById('cost').innerText = cost;
            document.getElementById('uploadButton').disabled = requiredTxns > readyUtxos.length;
            document.getElementById('btnValue').value = cost + (splitValue / 100000000);
            generateBitBtn();
        }

        async function upload() {
            const file = document.getElementById('file').files[0];
            const reader = new FileReader();
            txns = {};

            reader.onload = async (e) => {
                console.log(file);
                let buffer = reader.result;
                console.log(buffer);
                console.log(`${chunks} chunks`);
                await initialize();
                let i = 0;
                let bTxn;
                if (chunks > 1) {
                    let chunkTxns = [];
                    for (i = 0; i < chunks; i++) {
                        let chunk = bsv.deps.Buffer.from(buffer.slice(i * chunkSize, (i + 1) * chunkSize));
                        let txn = new bsv.Transaction()
                            .from(readyUtxos[i])
                            .addData([BCAT_ADDR, chunk]);
                        if (chunk.byteLength < chunkSize - 546) {
                            txn.change(address);
                        }

                        txn.sign(privateKey);
                        chunkTxns.push(txn.hash);
                        txns[txn.hash] = {
                            hex: txn.toString(),
                            status: 0
                        };
                    }

                    bTxn = new bsv.Transaction()
                        .from(readyUtxos[i++])
                        .addData([
                            BCAT_MAP_ADDR,
                            'Dynamic upload',
                            file.type,
                            bsv.deps.Buffer.from('20', 'hex'),
                            file.name,
                            bsv.deps.Buffer.from('20', 'hex'),
                            ...chunkTxns.map((txnId) => bsv.deps.Buffer.from(txnId, 'hex')),
                        ])
                        .change(address)
                        .sign(privateKey);

                    txns[bTxn.hash] = {
                        hex: bTxn.toString(),
                        status: 0
                    };
                }
                else {
                    bTxn = new bsv.Transaction()
                        .from(readyUtxos[i++])
                        .addData([
                            B_ADDR,
                            bsv.deps.Buffer.from(buffer),
                            file.type,
                            bsv.deps.Buffer.from('20', 'hex'),
                            file.name
                        ]);
                    if (buffer.byteLength < chunkSize - 546) {
                        bTxn.change(address);
                    }
                    bTxn.sign(privateKey);

                    txns[bTxn.hash] = {
                        hex: bTxn.toString(),
                        status: 0
                    };
                }

                document.getElementById('btxn').innerHTML =
                    '<a href="https://bico.media/' +
                    bTxn.hash +
                    '" target="_blank"> B://' +
                    bTxn.hash +
                    '</a>';

                renderQueue();
                await processQueue();
                initialize();
            };

            reader.readAsArrayBuffer(file);
        }

        async function broadcastByIndex(txnId) {
            let txn = txns[txnId];
            if (!txn) {
                console.error(`Missing Txn: ${txnId}`);
                return;
            }
            let res = await broadcastTx(txn.hex);
            if (res.ok) {
                txn.status = 1;
                document.getElementById(txnId).innerHTML = `<a href="https://whatsonchain.com/tx/${txnId}" target="_blank">Success</a>`;
            }
            else {
                let error = await res.json();
                txn.status = error.message.message;
                document.getElementById(txnId).innerHTML = `Error: ${txn.status} - <a href="javascript:void()" onclick="broadcastByIndex('${txnId}')">Retry</a>`;
            }
        }

        function renderQueue() {
            let txnList = [];
            for (let [hash, txn] of Object.entries(txns)) {
                let status;
                if (txn.status == 0) {
                    status = 'Pending';
                }
                else if (txn.status == 1) {
                    status = `<a href="https://whatsonchain.com/tx/${hash}">Success</a>`;
                }
                else {
                    status = `Error: ${txn.status} - <a href="javascript:void()" onclick="broadcastByIndex('${hash}')">Retry</a>`;
                }
                txnList.push(`<li><strong>${hash}</strong> - <span id="${hash}">${status}</span></li>`);
            }
            document.getElementById('queue').innerHTML = txnList.join('\n');
        }

        async function processQueue() {
            let i = 0;
            for (let [hash, txn] of Object.entries(txns)) {
                if (txn.status == 1) continue;
                console.log(`Broadcasting: ${hash}`);
                await broadcastByIndex(hash);
            }
        }

        function refund() {
            let refundAddress = bsv.Address.fromString(document.getElementById('refundAddress').value);
            let total = utxos.reduce((acc, utxo) => {
                return acc + utxo.satoshis;
            }, 0);

            let txn = new bsv.Transaction()
                .from(utxos)
                .change(refundAddress)
                .sign(privateKey);
            return broadcastTx(txn)
                .then((res) => res.json())
                .then((res) => {
                    console.log(res);
                    var refundLabel = document.getElementById('refund');
                    if (res.txid) {
                        var href = "https://whatsonchain.com/tx/" + res.txid;
                        var text = "TX: " + res.txid.substr(0, 10) + "...";
                        refundLabel.innerHTML = "<a href='" + href + "'>" + text + "</a>";
                    }
                    else if (res.message.message) {
                        refundLabel.innerText = "ERROR (" + res.message.code + "): "
                            + res.message.message;
                    }

                    initialize();
                });
        }

        wifqr = null;
        function toggle() {
            if (wifqr === null) {
                var wifqr_generator = qrcode(4, 'M');
                wifqr_generator.addData(privateKey.toString(), "Byte");
                wifqr_generator.make();
                wifqr = wifqr_generator.createImgTag();
            }

            if (document.getElementById('wif').style.display == 'none') {
                document.getElementById('wif').style.display = 'inline';
                document.getElementById('wif').innerHTML =
                    "<br>" + privateKey.toWIF() + "<br>" + wifqr;
            } else {
                document.getElementById('wif').style.display = 'none';
                document.getElementById('wif').innerHTML = '';
            }
        }
    </script>

    <div>
        <h1>Upload Large Dynamic files on the blockchain</h1>

        <hr />

        <div id="qrcode"></div>

        <h2>1. Fund Wallet</h2>
        <h4>Current address</h4>
        <p><a id="address"></a></p>
        <p>
            Total Balance: <span id="balance"></span>
            <span onclick="initialize()">🔄</span>
        </p>

        <div id="btnArea">
            <input type="number" id="btnValue" oninput="generateBitBtn()" value="0.01" min="0" step="0.00000001">
            <span id="btnInstance"> ... </span>
        </div>
        <hr />

        <h2>2. Prepare UTXOs</h2>
        <label for="selectFeeInput">Select Fee: </label>
        <input id="selectFeeInput" type="range" value="1" min="0.2" max="1.5" step="0.01" style="display:inline-block;width:300px;">
        <span id="selectFeeLabel">1 sat/byte</span>
        <script>
            window.selectFeeInput.addEventListener("change", e => {
                window.selectFeeLabel.innerHTML = window.selectFeeInput.value + " sat/byte";
                splitValue = (90.5e3 * window.selectFeeInput.value ) + 1; 
                initialize();
            });
            window.selectFeeInput.addEventListener("input", e => {
                window.selectFeeLabel.innerHTML = window.selectFeeInput.value + " sat/byte";
            });
        </script>
        <br>
        In order to bypass a limitation in the number of chained transactions allowed, split transactions and let them
        confirm before you upload.
        <span onclick="initialize()">🔄</span>
        <p>
            Ready: <span id="confirmed">?</span><br />
            Unconfirmed: <span id="unconfirmed">?</span><br />
            Unsplit: <span id="unsplit">?</span>
            <button onclick="split()">Split <span id="splitCount">0</span> Txns</button>
            <br /> Small UTXOs: <span id="smallutxo">?</span>
            <button onclick="joinSmallTx()">Join <span id="smallCount">0</span> Txns</button>
        </p>

        <hr />
        <h2>3. Upload</h2>
        <p>
            <input type="file" id="file" onchange="analyzeFile()" /><br />
            Required Txns: <span id="requiredTxns">0</span><br />
            Cost: ~<span id="cost">0</span>
        </p>
        <button onclick="upload()" id="uploadButton" disabled="true">Upload</button>
        <p>
            B Txn: <span id="btxn"></span>
        </p>
        <p>
            Upload Queue: <span id="status"></span><br>
            <ul id="queue"></ul>
        </p>
        <hr />

        <h4>Cash Out</h4>
        <p>
            <strong>Attention:</strong>
            <br> Do not keep coins in this wallet for more time than needed.
            <br> This wallet is unreliable and not intended for safekeeping of coins.
        </p>
        <p>
            <input type="text" id="refundAddress" placeholder="Refund Address" />
            <button onclick="refund()">Refund</button>
            <br>
            <span id="refund"></span>
        </p>
        <h4>Private Key</h4>
        <button onclick="toggle()">Show/Hide WIF</button>
        <p id="wif" style="display:none"></p>
    </div>

    <script>initialize();</script>
</div>
